<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section class="new-gallery">
				<%= render 'shared/gallery_form' %>
			</section>
			<section class="new-pic">
				<%= render 'shared/pic_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Gallery Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<h1> Welcome to Mugen Gallery</h1>

		<h2>
			This is the homepage for Mugen gallery, part of my portfolio to get rich and conquer Earth.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<div>
		list public galleries here...
	</div>

	<%= link_to image_tag("mugen.png", alt: "Public Gallery orrr... is this even needed??"), '#' %>
<% end %>