<%= will_paginate @galleries %>
<% @galleries.each do |gallery| %>
	<div id = "gallery_<%=gallery.id%>" >
		<span class="gallerytitle"><%= link_to gallery.title, gallery %></span>
		<span class="gallerydescription"><%= gallery.description %></span>
		<span class="timestamp">
			Posted <%= time_ago_in_words(gallery.created_at) %> ago.
			 <%= pluralize(gallery.pics.count, "pic") %>
		</span>
		<% if current_user?(gallery.user) %>
			<%= link_to "edit", edit_gallery_path(gallery.id) %>
			<%= link_to "delete", gallery, method: :delete,
											data: { confirm: "You sure?" },
											title: gallery.title %>
		<% end %>
		<% if signed_in? %>
			<%#= link_to "comment", '#' %>
		<% end %>
	</div>
<% end %>
<%= will_paginate @galleries %>

