<%= form_for @pic, :remote => true, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		
		<%= f.text_area :title, placeholder: "Title of image" %>

		<%= f.text_area :description, placeholder: "Description" %>
		
		<% if @gallery.id %>
			<%= f.hidden_field :gallery_id, :value => @gallery.id %>
		<% else %>
			<%= f.label "Choose a gallery" %>
 			<%= f.collection_select :gallery_id, @galleries, :id, :title, :include_blank => "Nothing selected" %>
 		<% end %>

		<%= f.file_field :pic_file %>
	</div>
	<%= f.submit "upload image", class: "btn btn-large btn-primary" %>
<% end %>