<% provide(:title, @gallery.title) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<span>
  				<%= pluralize(@gallery.pics.count, "pic") %>
			</span>
			<% if current_user?(@gallery.user) %>
				<section class="new-pic">
					<%= render 'shared/pic_form' %>
				</section>
			<% end %>
		</section>
		
	</aside>
	<div class="span8 middle">
		<div id = "gallery_<%=@gallery.id%>" class="gallery">
			<%= render @gallery %>
		</div>
		<div class="row">
			<div class="all-pics">
				<row class="clearfix">
					<%= render partial: 'shared/pic', collection: @pics %>
				</row>
				<div> 
					<%= link_to "comment", '#' %>
					<%= render partial: 'shared/gallery-comment-form' %>
			    </div>
			</div>
		</div>
	</div>
	<aside class="span4 right-aside">
		<section>
			<h1>
				placeforcomments
			</h1>
			<span>
				<%= pluralize(@gallery.comments.count, "comment") %>
			</span>
			<section>
				<div class="gallery-comments">
					    
						<%= render partial: 'shared/comment', collection: @comments %>
						
				</div>
			</section>
		</section>
		
	</aside>

	
</div>
<% content_for :lightboxjs do %>
	<script type="text/javascript">
	$(function(){
	  $('a[rel=lightbox]').lightBox({
	    containerResizeSpeed: 250,
	    fixedNavigation: true
	  });
	  $('a[rel=2ndlightbox]').lightBox({
	    overlayBgColor: '#fff',
	    overlayOpacity: 0.7
	  });
	});
	</script>
<% end %>

